body {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-top: 1%;
}

#banner {
    text-align: center;
}

#map {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

#map a {
    text-decoration: none;
}
